body {
    text-align: center;
    font-size: 170%;
    color: white;

    /* BACKGROUND */
    background-image: url(black-370118_960_720.png);
    background-repeat: repeat;
    background-size: 100%;

    /* FONT */
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.webContainer {
    display: grid;
    align-items: center;

    background-color: rgb(0,0,0,0.88);
    border-radius: 0.5em;
    margin: 3.8%;
    padding: 3%;
}

h1, h2{
    margin: 4%;
    color: gold;
}
h1 {
    font-size: 210%;
}
h2 {
    font-size: 140%;
    color: rgb(255, 183, 0);
}
a {
    color: #FFD700;
    font-size: 120%;
    text-decoration: none;
}
.volverBtn {
    color: #FFD700;
    font-size: 120%;

    background-color: rgb(0,0,0,0.88);
    border-radius: 0.5em;
    margin: 3.8%;
    padding: 3%;
}
a:hover {
    color: #ffed89;
}
label {
    font-weight: bold;
    color: goldenrod;
}

.pNiveles {
    font-weight: bold;
    font-size: 69%;
    margin-left: 20%;
    margin-right: 20%;
}

.rolesStaffsubdiv {
    margin-left: 20%;
    margin-right: 20%;
}